body{
 	background-image:url("https://pyxis.nymag.com/v1/imgs/26d/955/5df4c7deba4c1bd5e26e4fb96b64394a79-spotify3.h473.w710.gif");
	background-size:cover;
	background-position:center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.thumbnail img{
	width: 100%;
}

.thumbnail{
	padding: 0;
}
.caption-full{
	padding:9px;
}
.pull-right{
	font-size: 30px;
    padding-right: 30px;
	color:#F5F5F5;
}

.jumbotron{
	padding-top:30px;
	padding-bottom:30px;
}

#searchBar{
	font-size: 25px;
	padding-top:480px;
	text-align:center;
}
